h5, .h5 {
  font-size: 16px;
  line-height: 23px;
}








.navbar-header a.navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}


@media (max-width: 800px) { 

#myCarousel {
        display:none !important;
    }
 
.collapse.navbar-collapse ul.nav.navbar-nav {
  float: left;
}  

.navbar-brand {
  opacity: 0;
}
 
}
